/* TailwindCSS base styles */
/* see https://tailwindcss.com/docs/functions-and-directives#tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
}

@layer components {
    .grid-body {
        @apply grid grid-cols-6 md:grid-cols-12 md:gap-x-12 xl:gap-x-20;
    }

    .p-section {
        @apply scroll-mt-24 py-12;
    }

    .text-h1 {
        @apply text-5xl md:text-6xl font-display font-extrabold uppercase;
    }

    .text-h2 {
        @apply text-4xl md:text-5xl font-display font-extrabold;
    }

    .text-h3 {
        @apply text-2xl md:text-3xl font-display font-semibold;
    }

    .text-h4 {
        @apply text-xl md:text-2xl font-display font-semibold;
    }

    .text-body {
        @apply text-xl font-sans font-light;
    }

    .text-cta {
        @apply text-xl font-sans font-medium;
    }

    .text-label {
        @apply text-base font-sans font-thin;
    }

    .btn {
        @apply text-cta bg-primary text-secondary border-2 border-primary px-6 py-2;
    }
    .btn:hover {
        @apply text-primary bg-secondary;
    }

    .link {
        @apply relative;
    }
    .link::after {
        content: '';
        @apply absolute right-0 bottom-0 h-0.5 w-0 bg-primary;
    }
    .link:hover::after,
    a:hover .link::after {
        @apply w-full right-auto left-0;
    }

    .link-visible::before {
        content: '';
        @apply absolute right-0 bottom-0 w-full h-[1%] bg-primary;
    }
}
