{{ define "seoRobots" }}
    <meta name="robots" content="noindex">
{{ end }}

{{ define "main" }}

<div class="container grid-body flex flex-col gap-4">

    <p class="mt-24">
        <a href="/" class="link in-row-inline">
            {{ partial "icons/arrow-left" }}
            Retour
        </a>
    </p>


    <h1 class="text-h1 ">Mentions légales</h1>
    
    <h2 class="text-h3 pt-8 text-primary">Propriétaire du site</h2>
    <p>{{ partial "external-link" (dict "text" "Arthaud Proust" "href" "https://arthaudproust.fr" ) }}</p>
    <p class="text-body">{{ .Site.Params.contact.email.content }}</p>

    <h2 class="text-h3 pt-8 text-primary">Hébergement</h2>
    <p>{{ partial "external-link" (dict "text" "Société Netlify" "href" "https://www.netlify.com/" ) }}</p>
    <p class="text-body">support@netlify.com</p>
</div>

{{ end }}