<div class="flex flex-col items-start w-full">

    <label class="text-label">{{ .inputData.label }}</label>

    {{ $model := (printf "form.%s.%s" .section.name .inputData.model) }}
    <input
        class="w-full border text-body text-primary bg-secondary py-2 px-3"
        x-init="{{ $model }} = '{{ .inputData.placeholder }}'"
        @keyup="{{ $model }} = $event.target.value == '' ? '{{ .inputData.placeholder }}' : $event.target.value"
        placeholder="{{ .inputData.placeholder }}"
        type="text"
    />

    {{ if .inputData.information }}
    <div x-data="{isOpen: false}">
        <button @click="isOpen = !isOpen">
            <span x-show="isOpen">Voir moins</span>
            <span x-show="!isOpen">Voir plus</span>

        </button>
        <p x-show="isOpen">{{ .inputData.information }}</p>
    </div>
    {{ end }}

    {{ if .inputData.link }}
    {{ partial "external-link" (dict "text" "Plus d'informations" "href" .inputData.link "class" "mt-2" ) }}
    {{ end }}
</div>