{{ define "main" }}

<div class="container grid-body gap-y-32">

    <section class="p-section col-span-full pt-32 grid-body items-center">
        <article class="col-span-full flex flex-col items-start">
            <h1 class="text-h1">Use Metatags</h1>
            <h2 class="text-h3 text-primary mt-1">Créez vos balises meta et améliorez votre SEO</h2>
            <p class="text-body mt-8 xl:w-4/5 max-w-[60ch]">
                Complétez les champs et copiez le code html pour ajouter une prévisualisation à votre site.
            </p>
            <a href="/app" class="btn in-row gap-2 mt-8">
                Commencer
                {{ partial "icons/arrow-right" }}
            </a>
        </article>
    </section>

</div>

{{ end }}