{{ define "main" }}

<div class="container grid-body gap-y-32">

    <section class="p-section col-span-full pt-32 grid-body items-center">
        <article class="col-span-full flex flex-col items-start">
            <h1 class="text-h1">Use Metatags</h1>
            <h2 class="text-h3 text-primary mt-1">Créez vos balise meta et améliorez votre SEO</h2>
            <p class="text-body mt-8 xl:w-4/5">
                Complétez les champs avec vos données et copiez collez le code html pour ajouter une prévisualisation à votre site.
            </p>
            <a href="/app" class="btn mt-8">Commencer</a>
        </article>
    </section>

</div>

{{ end }}