{{ define "main" }}

<main class="grid grid-cols-2 h-screen overflow-y-hidden" x-data="appForm">
    <section class="overflow-y-auto border-r border-primary flex flex-col">
        <nav class="p-8 flex flex-row items items-center justify-between">
            <a href="/" class="link in-row-inline">
                {{ partial "icons/arrow-left" }}
                Retour
            </a>

            {{ partial "app/view-switcher" }}
        </nav>

        <div class="overflow-y-auto flex flex-col p-8 gap-4">
            {{ range $.Site.Data.appform.sections }}
                {{ $section := . }}
                <div class="mb-16 space-y-6">
                    <h3 class="text-h3">{{ $section.title }}</h3>

                    {{ range $section.inputs }}
                        {{ partial "input" (dict 
                                "section" $section
                                "inputData" .
                            ) 
                        }}
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </section>


    {{ partial "app/views/html-code" }}

    {{ partial "app/views/preview" }}
</main>

{{ end }}